$body-bg: #252F3C;

body{
  margin:0;
  background: #252F3C;
}

hr{
  background:#aab0b4;
}

h4{
  color:#ffffff;
}

h5{
  color:#61DDE4;
}

h1{
  font-size:  2.5rem;
  color:#ffffff;
}

h2{
  color:#BEC1C6;
}

p{
  color:#9CA1AB;
  font-size:22px;
}

.container{
  background: #2F3B49;
  border-radius: 2px;
  padding: 3%;
}